---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Budget Hound',
  ignoreTitleTemplate: true,
};

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://apps.apple.com/app/apple-store/id1533403452?pt=1149808&ct=website&mt=8';

---

<Layout metadata={metadata}>

<Hero2
    image={{
      src: '~/assets/images/main.png',
      alt: 'Main image',
    }}
  >
     <Fragment slot="title">
      <span class="text-accent">
        Budget Hound
      </span>
      <br />Your financial planner</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       Take control of your finances: track expenses, plan budgets, and save smarter.
      </span>
      Download Budget Hound now and embark on a journey toward financial wellness.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What Budget Hound offers"
    subtitle="An all-in-one tool for effective budgeting and expense tracking, trusted by thousands."
    items={[
      {
        title: 'Easy expense tracking',
        description:
          'Record transactions with ease and categorize expenses for clear insights.',
        icon: 'folder',
      },
      {
        title: 'Plan-oriented approach',
        description:
          'Set monthly budgets and track your progress to stay on course with your financial goals.',
        icon: 'goal',
      },
      {
        title: 'Advanced budget analytics',
        description: 
          'Access in-depth analytics to gain better insights into your budget and spending habits.',
        icon: 'chart',
      },
      {
        title: 'Data security & privacy',
        description:
          'All your data is stored locally on your device, ensuring maximum privacy and security.',
        icon: 'secure',
      },
      {
        title: 'Simple & modern design',
        description: 
          'Enjoy a beautifully crafted, intuitive user interface designed for a seamless experience.',
        icon: 'ui',
      },
      {
        title: 'Ad-free experience',
        description: 
          'Enjoy a completely ad-free environment, so you can focus on managing your finances without distractions.',
        icon: 'block',
      } 
    ]}
  />

  <!-- Overview **************** -->

  <Content
    items={[
      {
        title: 'Planned budget overview',
        description:
          'Get a clear view of your income, expenses, and savings, along with how close you are to reaching your monthly goals—all shown in simple percentages and amounts.',
        icon: 'tabler:check',
      },
      {
        title: 'Daily expense tracking',
        description:
          'Easily keep an eye on your daily spending, see what’s recommended for the day, and track how much of your budget is left with a helpful progress bar.',
        icon: 'tabler:check'
      }
    ]}
    image={{
      src: '~/assets/images/overview.png',
      alt: 'Overview image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Overview</h3>
    </Fragment>
  </Content>

  <!-- Transactions **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Easy transaction management',
        description:
          'You can effortlessly add and edit transactions with just a few taps',
        icon: 'tabler:check',
      },
      {
        title: 'Categorization',
        description:
          'Label your transactions as default tags or create your own custom one for better financial organization.',
        icon: 'tabler:check',
      },
      {
        title: 'Import from CSV',
        description: 
            'Easily upload your existing financial data by importing transactions from CSV files. Save time and keep all your records in one place.',
        icon: 'tabler:check'
      }
    ]}
    image={{
      src: '~/assets/images/transaction.png',
      alt: 'Transaction image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Transactions</h3>
    </Fragment>
  </Content>

  <!-- Analytics **************** -->

  <Content
    items={[
      {
        title: 'Understand your spending at a glance',
        description:
          'See a visual breakdown of your transactions with an easy-to-read chart that highlights where your money goes each month.',
        icon: 'tabler:check',
      },
      {
        title: 'Different data groupings',
        description:
          'Effortlessly toggle between views such as categories, tags, and daily expenses to get a customized overview of your finances.',
        icon: 'tabler:check',
      },
      {
        title: 'Switch between insights',
        description:
          'Easily toggle between expenses, income, and savings to get a full picture of your financial habits and progress.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/analytics.png',
      alt: 'Analytics image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Analytics</h3>
    </Fragment>
  </Content>

  <!-- Trends **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Annual overview',
        description:
          'Get a clear summary of your financial performance over the past year. The dashboard displays total earnings, spending, and savings, providing a big-picture view of your money management.',
        icon: 'tabler:check',
      },
      {
        title: 'Savings indicator',
        description:
          'See exactly how much of your income you’ve saved. This key metric helps you track your financial discipline and encourages healthy saving habits by setting measurable goals.',
        icon: 'tabler:check',
      },
      {
        title: 'Category spending analysis',
        description:
          'Identify trends in your spending habits with a detailed breakdown of categories where expenses have increased or decreased. This feature helps you understand where your money goes and highlights opportunities for smarter budgeting.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_1.png',
      alt: 'Trends image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trends</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Budget transactions breakdown',
        description:
          'Visualize your spending trends over time with a clear, easy-to-read bar chart. Each bar represents a month’s transactions, helping you track changes in your expenses at a glance.',
        icon: 'tabler:check',
      },
      {
        title: 'Transaction grouping',
        description:
          'Organize your spending effortlessly by grouping transactions into categories or folders. This feature provides a structured overview of where your money is going.',
        icon: 'tabler:check',
      },
      {
        title: 'Category selection',
        description:
          'Easily focus on specific areas by selecting or deselecting categories. This flexibility lets you tailor your analysis and better understand your financial habits.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_2.png',
      alt: 'Trends image 2',
    }}
  >
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Detailed 3-month and annual trends',
        description:
          'Analyze your transactions to identify patterns and make informed adjustments.',
        icon: 'tabler:check',
      },
      {
        title: 'Data-driven insights',
        description:
          'Easily compare short-term and long-term financial trends to help you optimize your budgeting strategy.',
       icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_3.png',
      alt: 'Trends image 3',
    }}
  >
  </Content>

  <!-- Widgets **************** -->

  <Content
    items={[
      {
        title: 'Stylish and functional',
        description:
          'Enjoy beautiful, easy-to-use widgets that let you add transactions in seconds, right from your home screen.',
        icon: 'tabler:check',
      },
      {
        title: 'Instant access to key data',
        description:
          'Keep your finances at a glance with widgets that show up-to-date information',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/widgets.png',
      alt: 'Widgets image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Widgets</h3>
    </Fragment>
  </Content>

  <!-- Testimonials *********** -->

  <Testimonials
    title="What our users say"
    testimonials={[
      {
        testimonial: 'As a freelancer, this app has been a game-changer for managing my income and expenses. It helps me track payments, set budgets, and make sure I’m saving for future projects. The user-friendly interface makes budgeting simple and stress-free.',
        name: 'Cary Kennedy',
        job: 'Freelancer'
      },
      {
        testimonial: 'As a mom with kids, this app has been a lifesaver. It helps me keep track of the family’s spending while ensuring I stay within budget. It’s so easy to use, and I love being able to check on our finances anytime, no matter how busy I am.',
        name: 'Sarah Thompson',
        job: 'Mom & full-time worker'
      },
      {
        testimonial: 'I’ve been using this app to save up for something special, and it’s been fantastic. The ability to set savings goals and track my progress keeps me motivated. I can see exactly where my money is going and how much more I need to save.',
        name: 'Mark Robinson',
        job: 'Goal-oriented saver'
      }
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our blog"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Get started with Budget Hound today!"
    subtitle="Take control of your finances with intuitive tools designed to simplify budgeting, track expenses, and achieve your financial goals."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
