---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Budget Hound',
  ignoreTitleTemplate: true,
};

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://apple.co/3bcPIIS';

---

<Layout metadata={metadata}>

<Hero2
    image={{
      src: '~/assets/images/main.png',
      alt: 'Main Image',
    }}
  >
     <Fragment slot="title">
      <span class="text-accent">
        Budget Hound
      </span>
      <br />Your financial planner</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       Take control of your finances: track expenses, plan budgets, and save smarter.
      </span>
      Download Budget Hound now and embark on a journey toward financial wellness.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What Budget Hound Offers"
    subtitle="An all-in-one tool for effective budgeting and expense tracking, trusted by thousands."
    items={[
      {
        title: 'Easy Expense Tracking',
        description:
          'Record transactions with ease and categorize expenses for clear insights.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Plan-Oriented Approach',
        description:
          'Set monthly budgets and track your progress to stay on course with your financial goals.',
        icon: 'tabler:components',
      },
      {
        title: 'Advanced Budget Analytics',
        description: 
          'Access in-depth analytics to gain better insights into your budget and spending habits.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Data Security & Privacy',
        description:
          'All your data is stored locally on your device, ensuring maximum privacy and security.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Elegant & Modern Design',
        description: 
          'Enjoy a beautifully crafted, intuitive user interface designed for a seamless experience.',
        icon: 'tabler:layout-dashboard',
      },
      {
        title: 'Ad-Free Experience',
        description: 
          'Enjoy a completely ad-free environment, so you can focus on managing your finances without distractions.',
        icon: 'tabler:circle-off',
      } 
    ]}
  />

  <!-- Overview **************** -->

  <Content
    items={[
      {
        title: 'Feature 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/overview.png',
      alt: 'Overview image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Overview</h3>
    </Fragment>
  </Content>

  <!-- Transactions **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Feature 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/transaction.png',
      alt: 'Transaction image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Transactions</h3>
    </Fragment>
  </Content>

  <!-- Analytics **************** -->

  <Content
    items={[
      {
        title: 'Feature 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/analytics.png',
      alt: 'Analytics image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Analytics</h3>
    </Fragment>
  </Content>

  <!-- Trends **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Annual Overview of Income, Expenses, and Savings',
        description:
          'Get a clear summary of your financial performance over the past year. The dashboard displays total earnings, spending, and savings, providing a big-picture view of your money management.',
        icon: 'tabler:check',
      },
      {
        title: 'Savings indicator',
        description:
          'See exactly how much of your income you’ve saved. This key metric helps you track your financial discipline and encourages healthy saving habits by setting measurable goals.',
        icon: 'tabler:check',
      },
      {
        title: 'Category Spending Analysis',
        description:
          'Identify trends in your spending habits with a detailed breakdown of categories where expenses have increased or decreased. This feature helps you understand where your money goes and highlights opportunities for smarter budgeting.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_1.png',
      alt: 'Trends image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trends</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Budget Transactions Breakdown',
        description:
          'Visualize your spending trends over time with a clear, easy-to-read bar chart. Each bar represents a month’s transactions, helping you track changes in your expenses at a glance.',
        icon: 'tabler:check',
      },
      {
        title: 'Transaction Grouping',
        description:
          'Organize your spending effortlessly by grouping transactions into categories or folders. This feature provides a structured overview of where your money is going.',
        icon: 'tabler:check',
      },
      {
        title: 'Category Selection',
        description:
          'Easily focus on specific areas by selecting or deselecting categories. This flexibility lets you tailor your analysis and better understand your financial habits.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_2.png',
      alt: 'Trends image 2',
    }}
  >
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'User-friendly interface',
        description:
          'An intuitive and easy-to-navigate interface that allows users to quickly browse and find the templates they need.',
        icon: 'tabler:check',
      },
      {
        title: 'Personalization options',
        description:
          'Include basic customization tools that let users modify text, colors, images, and other elements within the templates.',
       icon: 'tabler:check',
      },
      {
        title: 'Ready-to-use components',
        description:
          'Enhance your designs with ready-to-use elements like graphics, icons, and layouts, saving you time and boosting visual appeal.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/trends_3.png',
      alt: 'Trends image 3',
    }}
  >
  </Content>

  <!-- Widgets **************** -->

  <Content
    items={[
      {
        title: 'Feature 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      },
      {
        title: 'Feature 3',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet sed dui non lacinia. Donec et blandit orci. Vestibulum lacinia elit eu sapien convallis, nec eleifend nisl volutpat. Pellentesque habitant.',
        icon: 'tabler:check',
      }
    ]}
    image={{
      src: '~/assets/images/widgets.png',
      alt: 'Widgets image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Widgets</h3>
    </Fragment>
  </Content>

  <!-- Testimonials *********** -->

  <Testimonials
    title="What our users say"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director'
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager'
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator'
      }
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Get started with Budget Hound today!"
    subtitle="Take control of your finances with intuitive tools designed to simplify budgeting, track expenses, and achieve your financial goals."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
